:root {
  --font-eng: "Radley", serif;
  --font-thai: "Chonburi", serif;
  --font-thai2:'Prompt', sans-serif;


  --main-green: #548a4f;
  --bg-green :#36633D;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Chonburi", cursive;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.logo {
  text-align: center;
}
.navbar {
  box-shadow: 0 10px 10px -8px gray;
}
.nav-item {
  margin: 0px 20px;
  padding: 10px;
}
.nav-item:hover {
  background-color: var(--bg-green);
  border-radius: 50px;

}
.nav-item a:hover {
  color: #fff !important;
}
.active {
  background:var(

  );
  overflow:hidden;
  color: #fff !important;
}
.nav-item a {
  color: var(--main-green);
  font-family: var(--font-eng);
  font-size: 20px;
}
a h5 {
  font-family: var(--font-eng);
  color: var(--main-green);
}
button {
  font-family: var(--font-eng) !important;
  font-size: 20px !important;
}
.top {
  display: flex;
  align-items: center;
}
.descript {
  text-align: end;
  color: var(--main-green);
}
.descript h1{
  font-family: var(--font-thai);
}
.descript p {
  font-family: var(--font-thai2);
}
footer {
  background-color: var(--main-green);
  height: 200px;
}